# Check Duplicates

Check if there's any duplicated instance in a synthetic dataset

## Import the synthetic dataset

In [185]:
import pandas as pd

df = pd.read_csv('0-NGEN=20000-C2-L2-N1-F2.csv')

In [186]:
label = 'label'

df = df.drop(label, axis=1)

In [187]:
df.head()

   Unnamed: 0         0         1         2         3
0           0  1.452077  0.981779  0.219869 -0.541150
1           1  1.907864 -0.104118  0.273945 -0.106981
2           2  0.524053 -0.272827  0.481683  1.586719
3           3  0.684204 -0.180521 -0.646836  0.097577
4           4 -0.603446 -0.060894 -1.367980  2.238112

## Check if there's any row duplicated

If the result is 0, there's no duplicated row. Otherwise, the value is the sum of duplicated rows.

In [188]:
df.duplicated().sum()

0

## Check columns that has repeated values

In [189]:
for column in df:
    if df[column].duplicated().sum() > 0:
        print(column)
        print(df[df[column].duplicated()].head(2))