# Scale inTo

## Read the base dataset

In [15]:
import pandas as pd

In [16]:
FILENAME_BASE_DF = 'Immunotherapy.csv'

In [ ]:
df_base = pd.read_csv(FILENAME_BASE_DF)

In [18]:
import numpy as np
from sklearn.datasets import load_iris

iris = load_iris()

df_base = pd.DataFrame(data=np.c_[iris['data'], iris['target']],
                  columns=iris['feature_names'] + ['target'])

df_base = df_base.rename({"sepal length (cm)": '0', 
                          "sepal width (cm)": '1',
                          "petal length (cm)": '2',
                          "petal width (cm)": '3',
                          "target": 'label'}, axis=1)
df_base.head()

     0    1    2    3  label
0  5.1  3.5  1.4  0.2    0.0
1  4.9  3.0  1.4  0.2    0.0
2  4.7  3.2  1.3  0.2    0.0
3  4.6  3.1  1.5  0.2    0.0
4  5.0  3.6  1.4  0.2    0.0

## Read each Synthetic dataset

Specify the number of synthetic datasets

In [19]:
NUMBER_OF_DATASETS = 5

Read the datasets and put it on a list

In [20]:
df = []

for i in range(0, NUMBER_OF_DATASETS):
    filename = str(i) + "-NGEN=20000-C2-L2-N1-F2"
    df.append(pd.read_csv(filename + ".csv"))
    df[i] = df[i].drop("Unnamed: 0", axis=1)

## Scale to the base dataset

Uses source preprocess module

In [21]:
import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.append('../')

from src import preprocess

Scaling each synthetic dataset to the values in `df_base`

In [22]:
for i in range(0, NUMBER_OF_DATASETS):
    df[i] = preprocess.scaleColumnsFrom(df_base, df[i], label_column='label')

## Checking Process

### Visualization of the results

In [23]:
df[1].describe()

                0           1           2           3       label
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean     6.205943    3.137360    3.609492    1.154520    1.000000
std      0.737934    0.538266    1.283565    0.508561    0.819232
min      4.300000    2.000000    1.000000    0.100000    0.000000
25%      5.660472    2.715168    2.667742    0.821017    0.000000
50%      6.233151    3.181846    3.282181    1.116353    1.000000
75%      6.731239    3.520074    4.458921    1.471757    2.000000
max      7.900000    4.400000    6.900000    2.500000    2.000000

## Exporting Process

Create a new folder for the results

In [24]:
import os
os.makedirs('scaledResults', exist_ok=True)

In [25]:
for i in range(0, NUMBER_OF_DATASETS):
    filename = str(i) + '-NGEN=20000-C2-L2-N1-F2'
    df[i].to_csv('scaledResults/' + filename + '.csv')